{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block head_title %}{% endblock head_title %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  {% include 'snippets/styles.html' %}
  


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div class="preloader">
    <div class="counter">0</div>
  </div>
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    {% include 'snippets/header-top.html' %}

    <div class="site-section py-0">
      <div class="owl-carousel hero-slide owl-style">

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url({% static 'images/big_img_1.jpg' %})"></div>
              <div class="contents">
                <span class="caption">Editor's Pick</span>
                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus
                  adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore
                  deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam
                  accusantium beatae?</p>

                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                      class="icon-bookmark-o"></span></span>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url({% static 'images/big_img_1.jpg' %} )"></div>
              <div class="contents">
                <span class="caption">Editor's Pick</span>
                <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vero obcaecati natus
                  adipisci necessitatibus eius, enim vel sit ad reiciendis. Enim praesentium magni delectus cum, tempore
                  deserunt aliquid quaerat culpa nemo veritatis, iste adipisci excepturi consectetur doloribus aliquam
                  accusantium beatae?</p>

                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                      class="icon-bookmark-o"></span></span>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h2>Jurnal</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="sticky-top" style="z-index: 0;">
                  <div class="post-entry-1">
                    <a href="post-single.html"><img src="{% static 'images/img_h_1.jpg' %}" alt="Image" class="img-fluid"></a>
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
                      voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                          class="icon-bookmark-o"></span></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url({% static 'images/img_v_1.jpg' %})"></div>
                  <div class="contents">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                          class="icon-bookmark-o"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url({% static 'images/img_v_1.jpg' %})"></div>
                  <div class="contents">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                          class="icon-bookmark-o"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url({% static 'images/img_v_1.jpg' %})"></div>
                  <div class="contents">
                    <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                          class="icon-bookmark-o"></span></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sticky-top" style="z-index: 0;">
              <div class="section-title">
                <h2>Trending</h2>
              </div>
              <div style="margin-bottom: 50px;">
                <div class="clock m-auto" >
                  <div class="hour">
                    <div class="hr" id="hr"></div>
                  </div>
                  <div class="min">
                    <div class="mn" id="mn"></div>
                  </div>
                  <div class="sec">
                    <div class="sc" id="sc"></div>
                  </div>
                </div>
              </div>
              <div class="trend-entry d-flex">
                <div class="number align-self-start">01</div>
                <div class="trend-contents">
                  <h2 style="font-size: 16px;"><a href="blog-single.html">News Needs to Meet Its Audiences Where They
                      Are</a></h2>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                        class="icon-bookmark-o"></span></span>
                  </div>
                </div>
              </div>

              <p>
                <a href="#" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END section -->


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8" >
            <div class="section-title">
              <h2>Post All</h2>
            </div>
            <div class="single-blog-post post-style-4 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="{% static 'images/img_h_4.jpg' %}" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="headline">
                  <h6>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h6>
                </a>
                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off
                  with your teeth. Sink them into unripened...</p>
                <div class="post-meta">
                  <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                      am</a></p>
                </div>
              </div>
            </div>
            <div class="single-blog-post post-style-4 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="{% static 'images/img_v_1.jpg' %}" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="headline">
                  <h6>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h6>
                </a>
                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off
                  with your teeth. Sink them into unripened...</p>
                <div class="post-meta">
                  <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                      am</a></p>
                </div>
              </div>
            </div>
            <div class="single-blog-post post-style-4 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="{% static 'images/img_v_2.jpg' %}" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="headline">
                  <h6>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h6>
                </a>
                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off
                  with your teeth. Sink them into unripened...</p>
                <div class="post-meta">
                  <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                      am</a></p>
                </div>
              </div>
            </div>
            <div class="single-blog-post post-style-4 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="{% static 'images/img_v_3.jpg' %}" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="headline">
                  <h6>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h6>
                </a>
                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off
                  with your teeth. Sink them into unripened...</p>
                <div class="post-meta">
                  <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                      am</a></p>
                </div>
              </div>
            </div>
            
            <div class="single-blog-post post-style-4 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="{% static 'images/img_v_3.jpg' %}" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="headline">
                  <h6>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h6>
                </a>
                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off
                  with your teeth. Sink them into unripened...</p>
                <div class="post-meta">
                  <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                      am</a></p>
                </div>
              </div>
            </div>
            <div class="single-blog-post post-style-4 d-flex align-items-center">
              <div class="post-thumbnail">
                <img src="{% static 'images/img_v_3.jpg' %}" alt="">
              </div>
              <div class="post-content">
                <a href="#" class="headline">
                  <h6>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h6>
                </a>
                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off
                  with your teeth. Sink them into unripened...</p>
                <div class="post-meta">
                  <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                      am</a></p>
                </div>
              </div>
            </div>

          </div>
         
          <div class="col-lg-4">
            <div class="sticky-top" style="z-index: 0;">
              <div class="section-title">
                <h2>Popular Posts</h2>
              </div>
              
              <div class="trend-entry d-flex">
                <div class="number align-self-start">01</div>
                <div class="trend-contents">
                  <h2 style="font-size: 16px;"><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                        class="icon-bookmark-o"></span></span>
                  </div>
                </div>
              </div>
              <p>
                <a href="#" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
              </p>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6">
            <nav class="blog-pagination justify-content-center d-flex">
              <ul class="pagination">
                <li class="page-item">
                  <a href="#" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">
                      <span class="icon-chevron-left"></span>
                    </span>
                  </a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link" aria-label="Next">
                    <span aria-hidden="true">
                      <span class="icon-chevron-right"></span>
                    </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <hr>
    {% include 'snippets/footer.html' %}
    <!-- Footer -->
    


  </div>
  <!-- .site-wrap -->

  {% block loader %}
  {% endblock loader %}


  <!-- loader -->
  <!-- <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#ff5e15" /></svg></div> -->

  {% include 'snippets/scripts.html' %}
</body>

</html>