{% load static %}

<footer class="page-footer font-small stylish-color-dark pt-4">
      <!-- Call to action -->
      <div class="site-section subscribe bg-white">
        <div class="container">
          <form action="#" class="row align-items-center">
            <div class="col-md-5 mr-auto">
              <h2>Newsletter Subcribe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis
                pariatur obcaecati possimus nisi ea iste!</p>
            </div>
            <div class="col-md-6 ml-auto">
              <div class="d-flex">
                <input type="email" class="form-control" placeholder="Enter your email">
                <button type="submit" class="btn btn-secondary"><span class="icon-paper-plane"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Call to action -->
      <!-- Footer Links -->
      <div class="site-section subscribe bg-light mb-3">
        <div class="container text-center text-md-left">
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:black;">Risset</h5>
              <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                consectetur
                adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:black;">About</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">About Risset</a>
                </li>
                <li>
                  <a href="#!">Developer</a>
                </li>
                <li>
                  <a href="#!">Author</a>
                </li>
                <li>
                  <a href="#!">Staff</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:black;">Jurnal</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Visi & Misi</a>
                </li>
                <li>
                  <a href="#!">Django</a>
                </li>
                <li>
                  <a href="#!">Programming</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:black;">Contact</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Mr.danangharissetiawan@gmail.com</a>
                </li>
                <li>
                  <a href="#!">(+62) 881 7043 533</a>
                </li>
                <li>
                  <a href="#!">(+62) 821 3445 5666</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
        </div>

      </div>
      <!-- Footer Links -->

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="icon-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
          <i class="icon-twitter"></i> </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="icon-google"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="icon-linkedin"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="icon-dribbble"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Darisset</a>
      </div>
      <!-- Copyright -->

    </footer>